<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="CPConnectionTest" value="Data Source= DYNAMICS01\DEVPRISQLSVR;Initial Catalog=DevDynamicsAX;Integrated Security=False;User ID=AXPOS;Password=P@ssw0rd;"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <connectionStrings>
    <!--<add name="Microsoft.Dynamics.Retail.Pos.BlankOperations.Properties.Settings.JBENHL1StoresConnectionString"
            connectionString="Data Source=HERON\SQLEXPRESS;Initial Catalog=JBENHL1Stores;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="JBENHL1StoresConnectionString" connectionString="XpoProvider=MSSqlServer;data source=HERON\SQLEXPRESS;integrated security=SSPI;initial catalog=JBENHL1Stores" />
        <add name="HERON\SQLEXPRESS_JBENHL1Stores_Connection" connectionString="XpoProvider=MSSqlServer;data source=HERON\SQLEXPRESS;integrated security=SSPI;initial catalog=JBENHL1Stores" />-->
    <!--<add name="cpconnection2" connectionString="Data Source= DYNAMICS01\DEVPRISQLSVR;Initial Catalog=DevDynamicsAX;Integrated Security=False;User ID=AXPOS;Password=P@ssw0rd;" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
