<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Microsoft.Dynamics.Retail.FiscalRegistrationServices.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Microsoft.Dynamics.Retail.FiscalRegistrationServices.Properties.Settings>
      <setting name="FiscalRegisterAssembly_SE" serializeAs="String">
        <value>CleanCashFiscalRegister.dll</value>
      </setting>
      <setting name="FiscalRegisterClass_SE" serializeAs="String">
        <value>Microsoft.Dynamics.Retail.FiscalRegistrationServices.CleanCashFiscalRegister.CleanCashFiscalRegister</value>
      </setting>
    </Microsoft.Dynamics.Retail.FiscalRegistrationServices.Properties.Settings>
  </applicationSettings>
</configuration>