<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="HttpBinding_TBS_AifVoucherSvc" />
                <binding name="HttpBinding_TBS_AifLoyaltySvc" />
                <binding name="AccountServiceImplPortBinding" />
                <binding name="AccountServiceImplPortBinding1" />
                <binding name="FALWebServicesImplPortBinding" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_TBS_AifVoucherSvc" maxBufferPoolSize="524288"
                    maxBufferSize="65536" maxConnections="0" maxReceivedMessageSize="65536" />
                <binding name="NetTcpBinding_TBS_AifLoyaltySvc" maxBufferPoolSize="524288"
                    maxBufferSize="65536" maxConnections="0" maxReceivedMessageSize="65536" />
                <binding name="NetTcpBinding_TBS_AifLoyaltySvc1" />
                <binding name="NetTcpBinding_TBS_AifLoyaltySvc2" />
                <binding name="NetTcpBinding_TBS_AifVoucherSvc1" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.0.39:8201/DynamicsAx/Services/TBS_AifVoucherSvcGroup"
                binding="basicHttpBinding" bindingConfiguration="HttpBinding_TBS_AifVoucherSvc"
                contract="GME_VoucherAIF.TBS_AifVoucherSvc" name="HttpBinding_TBS_AifVoucherSvc">
                <identity>
                    <userPrincipalName value="pos-dev@THEBODYSHOP.CO.ID" />
                </identity>
            </endpoint>
            <endpoint address="http://192.168.0.39:8201/DynamicsAx/Services/TBS_AifLoyaltySvcGroup"
                binding="basicHttpBinding" bindingConfiguration="HttpBinding_TBS_AifLoyaltySvc"
                contract="GME_LoyaltyAIF.TBS_AifLoyaltySvc" name="HttpBinding_TBS_AifLoyaltySvc">
                <identity>
                    <userPrincipalName value="pos-dev@THEBODYSHOP.CO.ID" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://192.168.0.39:8201/DynamicsAx/Services/TBS_AifLoyaltySvcGroup"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_TBS_AifLoyaltySvc1"
                contract="GME_LoyaltyAIF.TBS_AifLoyaltySvc" name="NetTcpBinding_TBS_AifLoyaltySvc">
                <identity>
                    <userPrincipalName value="pos-dev@THEBODYSHOP.CO.ID" />
                </identity>
            </endpoint>
            <endpoint address="http://192.168.0.85:8080/EngageAcctServices/loyaltyws"
                binding="basicHttpBinding" bindingConfiguration="AccountServiceImplPortBinding1"
                contract="GME_EngageServiceHO.AccountServices" name="AccountServiceImplPort1" />
            <endpoint address="http://172.16.30.20:8080/falws/falws" binding="basicHttpBinding"
                bindingConfiguration="FALWebServicesImplPortBinding" contract="GME_EngageFALWSServices.FALWebServicesImpl"
                name="FALWebServicesImplPort" />
            <endpoint address="net.tcp://192.168.0.71:8202/DynamicsAx/Services/TBS_AifLoyaltySvcGroup"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_TBS_AifLoyaltySvc2"
                contract="GME_LoyaltyAIFPROD.TBS_AifLoyaltySvc" name="NetTcpBinding_TBS_AifLoyaltySvc1">
                <identity>
                    <userPrincipalName value="ax-prod@THEBODYSHOP.CO.ID" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://192.168.0.71:8202/DynamicsAx/Services/TBS_AifVoucherSvcGroup"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_TBS_AifVoucherSvc1"
                contract="GME_VoucherAIFPROD.TBS_AifVoucherSvc" name="NetTcpBinding_TBS_AifVoucherSvc">
                <identity>
                    <userPrincipalName value="ax-prod@THEBODYSHOP.CO.ID" />
                </identity>
            </endpoint>
            <endpoint address="http://192.168.0.85:8080/EngageAcctServices/loyaltyws"
                binding="basicHttpBinding" bindingConfiguration="AccountServiceImplPortBinding"
                contract="GME_EngageServices.AccountServices" name="AccountServiceImplPort" />
        </client>
    </system.serviceModel>
</configuration>
